# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# pnpm dependencies
node_modules/

# Playwright
test-results/
playwright-report/

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist
!assets/js/dist/
!assets/js/dist/sw.min.js
/temp/
.DS_Store
.kiro
